/* Common style started here  */
*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    outline: none;
    list-style: none;
}
html 
{
    scroll-behavior: smooth;
}

/* Common style End here  */
/* header section style started  here  */
header 
{
    background-color: #f1edea;
}
.nav-logo i 
{
    color: goldenrod;
}
.nav-logo span 
{
    font-family: 'Splash', cursive;
}
.nav-menu a 
{
    color: goldenrod;
    transition: .3s all;
}
.nav-menu a:hover 
{
    color: rgb(128, 119, 119);
}
/* header section style end  here  */

/* main section's style here  */
   /* banner section  started here */
    .banner-container 
    {
        background:linear-gradient(black,rgba(0, 0, 0, 0.366)), url('../images/baner.jpg');
        padding: 150px 20px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }
    .banner-container h1 
    {
        max-width: 50%;
        color: white;
        margin: 0px auto;
        text-align: justify;
        font-size: 25px;
    }
   /* banner section  end here */
   /* About Section Style started here  */
   .about-section
   {
     background-color: #F1EDEA;
     padding: 20px 10px;
   }
   .about-header 
   {
     text-align: center;
   }
   .about-header hr 
   {
     max-width: 30%;
     margin: 0px auto;
     border: none;
     border-bottom: 3px solid goldenrod;
   }
   .left-content 
   {
     background-color: #d4c4b8;
     padding: 50px;
     text-align: center;
     transition: .2s all;
     border-radius: 2px;
   }
   .left-content:hover 
   {
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.918);
   }
   .left-content i 
   {
    color: goldenrod;
   }
   .left-content span 
   {
     font-family: 'Splash', cursive;
   }
   .right-content 
   {
    padding: 50px 50px;
    text-align: justify;
    transition: .2s all;
    border-radius: 2px;
   }
   .right-content:hover 
   {
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.918);
   }
   .right-content  h3 
   {
    color: goldenrod;
   }
   .left-content-2 
   {
     padding: 50px;
     transition: .2s all;
     border-radius: 2px;
   }
   .left-content-2:hover
   {
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.918);
   }
   .left-content-2 h3
   {
     color: goldenrod;
   }
   .left-content-2 h5 
   {
    text-decoration: underline;
   }
   .left-content-2 i 
   {
    margin-right: 5px;
    color: goldenrod;
    font-weight: bold;
   }
   .right-content-2 
   {
    text-align: center;
   }
   .right-content-2 img 
   {
    max-width: 80%;
    margin: 20px 0px;
   }
   /* Service Section style started here  */
   .services 
   {
    text-align: center;
    margin: 10px 0px;
   }
   .services i 
   {
     color: goldenrod;
   }
   .services h2 
   {
     font-size: 22px;
     font-weight: bolder;
     margin: 15px 0px;
   }
   .service-header 
   {
    padding: 20px 0px;
    text-align: center;
   }
   .service-header hr 
   {
     max-width:10%;
     margin: 0px auto;
     border: none;
     border-bottom: 3px solid goldenrod;
   }
   /* Facilities Section style started here  */
   .facilities-section
   {
     background-color: #F1EDEA;
     padding: 50px 10px;
   }
   .facilities-header 
   {
    text-align: center;
   }
   .facilities-header hr 
   {
    width: 20%;
    border: none;
    border-bottom: 4px solid goldenrod;
    margin: 0px auto;
   }
   .facilities-images 
   {
     padding: 20px 0px;
   }
   .facilities-images img 
   {
    width: 100%;
    height: 250px;
   }
    /* Facilities Section style end here  */
    /* Testimonial Section style started here  */
    .testimonial-header
    {
        text-align: center;
        padding: 70px 10px;
    }
    .testimonial-header hr 
    {
      max-width: 18%;
      border: none;
      border-bottom: 4px solid goldenrod;
      margin: 0px auto;
    }
    .testimonial-card i 
    {
      color: goldenrod;
    }
    .testimonial-card 
    {
       text-align: center;
       box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.592);
       padding: 50px;
       border-radius: 5px;
       transition: .2s all;
    }
    .testimonial-card:hover 
    {
      transform:skew(-2deg);
    }
    /* Testimonial Section style end here  */
    /* Contact Section style Started here  */
      .contact-section 
      {
        background-color: #F1EDEA;
        padding: 70px 10px;
      }
      .contact-header 
      {
        text-align: center;
      }
      .contact-header hr 
      {
        width: 10%;
        border: none;
        border-bottom: 4px solid goldenrod;
        margin: 0px auto;
      }
      .icon-details 
      {
        display: flex;
      }
      .icon i 
      {
        color: goldenrod;
      }
      .details h6 
      {
        margin: 0px;
        font-size: 18px;
        color: goldenrod;
      }
    
      .form-container input 
      {
        width: 100%;
        margin: 10px;
        height: 35px;
        padding: 5px 10px;
        border: 1px solid goldenrod;
        border-radius: 5px;
      }
      .form-container textarea 
      {
        width: 100%;
        height: 200px;
        margin: 10px;
        padding: 5px 10px;
        border: 1px solid goldenrod;
        border-radius: 5px;
        resize: none;
      }
    /* Contact Section style end here  */
    
/* main section's style here  */
  /* Footer Section Started here  */
  .footer-section 
  {
    background-color:rgba(219, 161, 13, 0.598) ;
  }
  /* Footer Section End Here */

/* Responsive Section Here  */
  @media screen and (max-width:1079px)
  {
    .banner-container h1 
    {
      max-width: 100%;
      text-align: left;
    
    }
  }